*{
font-family: 'Alegreya', serif;
}

body { margin:0; padding:0; }


#map { position:absolute; top:0; bottom:0; width:100%; }


#map {
    
    position: fixed;
    width:60%;
}

#features {
    width: 40%;
    margin-left: 60%;
    font-family: sans-serif;
    /*overflow-y: scroll;*/
    background-color: #f6f6f4;
    /*margin-top:100px;*/
    position: absolute;
    
}

#filler {
    padding: 20px 20px 20px 20px;
}
    
#header{
    
    position: fixed;
    height : 70px;
    background: linear-gradient(to bottom, rgba(246,246,244,1) 0%,rgba(246,246,244,1) 72%,rgba(246,246,244,0) 100%);
    overflow: hidden;
    z-index: 100;
    display: block;
    right: 0;
    left:0;
}



#header h2{
    color: #6b0000;
}

section {
    padding:  20px 50px 20px 20%;
    line-height: 20px;
    opacity: 0.25;
    font-size: 13px;
    width: 60%;
    
}

section h3{
        color: #6b0000;

}
        
section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 600px;
}

